* {
    font-family: Roboto, serif;
    margin: 0;
    padding: 0;
}

.hero,
.footer,
.header {
    background-color: #1f2937;
}

.hero.head {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero.para,
a {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 500;
}

.cta,
button {
    background-color: #3882f6;
}

.crafts.header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.testimonial {
    background-color: #e5e7eb;
    min-height: 200px;
    display: flex;
    justify-content: center;
}

.monial {
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
    text-align: center;
    align-self: center;
}

.monial-wrap {
    height: 250px;
    width: 500px;
    display: flex;
}

.oprah {
    font-weight: 800;
}

ul {
    list-style: none;
}

li>a {
    text-decoration: none;
}

.biggest-wrapper {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    max-height: 15px;
}

ul {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    gap: 8px;
}

.hero {
    display: flex;
    flex-direction: row;
    padding: 20px 0 0 30px;
}

.hero-words {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hero-button {
    justify-self: center;
    align-self: flex-start;
    margin-left: 30px;
    width: 250px;
    height: 20px;
    flex: 1 1 20;
    border-radius: 10px;
}

.hero-imgs {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: auto;
}

.hero-img {
    width: 150px;
    justify-content: center;
    margin: auto;
}

.hero.para.img-description {
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}

.crafts {
    display: flex;
    flex-direction: column;
}

.projs {
    display: flex;
}

.proj-one,
.proj-two,
.proj-three,
.proj-four {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 10px;
    justify-content: space-evenly;
}

.crafts.head {
    flex: 1;
    align-self: center;
}

h4 {
    text-align: center;
    padding: 8px;
    font-weight: 700;
}



.img {
    height: 150px;
    width: auto;
    align-self: center;
    border: 1px solid black;
    border-radius: 4px;
}

.crafts.para {
    padding: 8px;
    text-align: center;
}

.bottom-of-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.cta {
    border-radius: 8px;
    display: flex;
}

.cta-words {
    width: 75vw;
    padding: 25px;
    flex: 8;
}

.cta.para {
    flex-wrap: wrap;
}

.cta-button {
    height: 30px;
    border-radius: 6px;
    border-color: white;
}

.button-wrap {
    align-self: center;
    flex: 2;
}

.who {
    font-weight: 700;
    margin-left: 70%;
}

.footer {
    height: 50px;
    text-align: center;
    color: #f9faf8;

}

.footing p {
    padding: 15px;
}